body {
    background-color: #2A2A2A;
    font-family: "JetBrains Mono Medium", sans-serif;
}

.header_item {
    display: inline;
    color: darkred;
    padding-left: 5%;
}

.header_bar {
    padding-top: 2%;
    text-align: end;
}